@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $black-color;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: $bg-color;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

input::placeholder,
textarea::placeholder {
    color: #999;
    transition: color 0.5s ease;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

.container {
    width: 80%;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}