// background Color
$bk-color: #f5f5f5;
$bk-hover-color: darken($bk-color, 10%);
$div-bk-color: #eee;
$white-bk: #fff;

// Color
$blue-color: #0075ff;
$blue-alt-color: #0d69d5;
$orange-color: #f59e0b;
$green-color: #22c55e;
$red-color: #f44336;
$grey-color: #888;
$black-color: #000;
$border-color: #ccc;

// Transition
$transition-duration: 0.3s;

// Shadow
$box-shadow: 0 0 10px#ddd;