@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../helpers/functions" as *;

.btn {
    @include btn;
}

@each $key, $val in $colors {
    .btn-#{$key} {
        @include btn($val);
        &:hover {
            background-color: lighten($val, 5);
        }
    }

    .btn-outlined-#{$key} {
        @include btn(#fff);
        border: $base-border-thickness solid $val;
        &:hover {
            background-color: $val;
        }
    }

    .btn-complement-#{$key} {
        @include btn($val);
        color: comp($val);
        &:hover {
            color: $val;
            background-color: comp($val);
        }
    }
}