@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;
@use '../helpers/extends' as *;

// Plans Style
.plans {
    .plan {
        border-radius: 0;
        .plan-price {
            background-color: $green-color;
            color: $white-bk;
            text-align: center;
            border: 2px solid $white-bk;
            outline: 2px solid $green-color;
            padding: 20px;
            margin-bottom: 15px;

            p {
                font-size: 40px;
            }
        }

        .basic {
            background-color: $blue-color;
            outline: 2px solid $blue-color;
        }

        .premium {
            background-color: $orange-color;
            outline: 2px solid $orange-color;
        }

        ul li {
            border-bottom: 1px solid #eee;
            display: flex;
            align-items: center;
            padding: 15px 0;
            font-size: 15px;

            i {
                margin-right: 10px;
                color: $red-color;
            }

            .yes {
                color: $green-color;
            }

            .help {
                margin-left: auto;
                margin-right: 0;
                color: $grey-color;
            }
        }

        &:not(:last-child) > span {
            display: block;
            font-size: 16px;
            margin-top: 15px;
        }

        &:last-child > span {
            color: $grey-color;
            text-align: center;
            display: block;
            margin: 20px 0;
        }
    }
}
