@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;
@use '../helpers/extends' as *;

// Projects Style
.projects {
    .project {
        div:first-child {
            @include display-flex(space-between);
            span {
                font-size: 13px;
                color: $grey-color;
            }
        }

        > p {
            font-size: 14px;
            color: $grey-color;
            margin: 10px 0;
        }

        .project-team {
            @include display-flex(start);
            min-height: 80px;
            margin-top: 20px;
            img {
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid $border-color;
                margin-right: -16px;
                transition-duration: $transition-duration;
                &:hover {
                    cursor: pointer;
                    z-index: 10;
                }
            }
        }

        .project-tasks {
            @include display-flex(end);
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            padding: 15px 0;
            span {
                color: $black-color;
                background-color: $div-bk-color;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        div:last-child {
            @include display-flex(space-between);
            margin: 15px 0 10px;
            .project-progress {
                height: 8px;
                width: 260px;
                position: relative;
                background-color: $div-bk-color;
                border-radius: 6px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background-color: var(--red-color);
                    width: 50%;
                    border-radius: 6px;
                }
            }
            .success::before {
                background-color: $green-color;
                width: 80%;
            }
            .mid::before {
                background-color: $blue-color;
                width: 100%;
            }
            span {
                font-size: 14px;
                color: $grey-color;
            }
        }
    }
}