include ./variables.pug

header
    .search
        input(type="search", id="search-input", placeholder="Type A Keyword")
    .icons
        span.notifications
            i(class="fa-regular fa-bell fa-lg")
        img(src="Assets/imgs/avatar.png", alt="profile picture")