//- Head and Header Variables

//- Header Variables
- listItems = ["Dashboard", "Settings", "Profile", "Projects", "Courses", "Friends", "Files", "Plans"]
- icons = ["fa-regular fa-chart-bar", "fa-solid fa-gear", "fa-regular fa-user", "fa-solid fa-diagram-project", "fa-solid fa-graduation-cap", "fa-regular fa-circle-user", "fa-regular fa-file", "fa-regular fa-credit-card"]

//- Files Variables
- cssFiles = ["all.min.css", "normalize.css", "myFramework.css", "main.css"]

//- Files Path Variables
- htmlFilesPath = "./"
- cssFilesPath = "./css/"
- imgsPath = "./Assets/imgs/"


//- Main Variables

//- Index Page

- Userinfo = [{ title: "Osama Elzero", desc: "Developer" },{ title: "80", desc: "Projects" },{ title: "$8500", desc: "Earned" }]

- targets = [{icon: "fa-dollar-sign fa-lg", title: "Money", color: "blue", value: "$20,000", percent: "80%"},{icon: "fa-code fa-lg", title: "Projects", color: "orange", value: "24", percent: "55%"},{icon: "fa-user fa-lg", title: "Team", color: "green", value: "12", percent: "75%"}]

- tickets = [{icon: "fa-regular fa-rectangle-list", iconStyle: "fa-2x orange-c", count: "2500", status: "Total"},{icon: "fa-solid fa-spinner", iconStyle: "fa-2x blue-c", count: "500", status: "Pending"},{icon: "fa-regular fa-circle-check", iconStyle: "fa-2x green-color", count: "1900", status: "Closed"},{icon: "fa-regular fa-rectangle-xmark", iconStyle: "fa-2x red-color", count: "100", status: "Deleted"}]

- latestNews = [{img: "news-01.png", title: "Created SASS Section", desc: "New SASS Examples & Tutorials", time: "3 Days Ago"},{img: "news-02.png", title: "Changed The Design", desc: "A Brand New Website Design", time: "5 Days Ago"},{img: "news-03.png", title: "Team Increased", desc: "3 Developers Joined The Team", time: "7 Days Ago"},{img: "news-04.png", title: "Added Payment Gateway", desc: "Many New Payment Gateways Added", time: "9 Days Ago"}]

- tasks = [{title: "Record One New Video", desc: "Record Python Create Exe Project"},{title: "Write Article", desc: "Write Low Level vs High Level Languages"},{title: "Finish Project", desc: "Publish Academy Programming Project"},{title: "Attend The Meeting", desc: "Attend The Project Business Analysis Meeting"},{title: "Finish Lesson", desc: "Finish Teaching Flex Box"}]

- searchedItems = [{keyword: "Programming", count: "220"},{keyword: "JavaScript", count: "180"},{keyword: "PHP", count: "160"},{keyword: "Code", count: "145"},{keyword: "Design", count: "110"},{keyword: "Logic", count: "95"}]

- uploads = [{icon: "pdf.svg", name: "my-file.pdf", uploader: "Admin", size: "2.9mb"},{icon: "avi.svg", name: "My-Video-File.avi", uploader: "Elzero", size: "4.9mb"},{icon: "psd.svg", name: "My-Psd-File.psd", uploader: "Seif", size: "4.5mb"},{icon: "zip.svg", name: "My-Zip-File.zip", uploader: "Youssef", size: "8.9mb"},{icon: "dll.svg", name: "My-DLL-File.dll", uploader: "Mohamed", size: "4.9mb"},{icon: "eps.svg", name: "My-Eps-File.eps", uploader: "Admin", size: "8.9mb"}]

- projectsProgress = ["Got The Project", "Started The Project", "The Project About To Finish", "Test The Project", "Finish The Project & Get Money"]

- reminders = [{text: "Check My Tasks List", date: "28/09/2022 - 12:00am", class: "blue"},{text: "Check My Projects", date: "26/10/2022 - 12:00am", class: "green"},{text: "Call All My Clients", date: "05/11/2022 - 12:00am", class: "orange"},{text: "Finish The Development Workshop", date: "20/12/2022 - 12:00am", class: "red"}]

- mediaAccounts = [{mtype: "twitter", icon: "fa-brands fa-twitter", iconStyle: "fa-2x", followers: "90K Followers", btnColor: "blue-bk", btnText: "Follow"},{mtype: "facebook", icon: "fa-brands fa-facebook-f", iconStyle: "fa-2x", followers: "2M Like", btnColor: "alt-blue-bk", btnText: "Like"},{mtype: "youtube", icon: "fa-brands fa-youtube", iconStyle: "fa-2x", followers: "1M Subs", btnColor: "red-bk", btnText: "Subscribe"},{mtype: "linkedin", icon: "fa-brands fa-linkedin", iconStyle: "fa-2x", followers: "70K Followers", btnColor: "alt-blue-bk", btnText: "Follow"}]

- tableHeaders = ["Name", "Finish Date", "Client", "Price", "Team", "Status"]

- projects = [{name: "Ministry Wikipedia", date: "10 May 2022", client: "Ministry", price: "$5300", team: ["team-01.png", "team-02.png", "team-03.png", "team-04.png"], status: "Pending"},{name: "Elzero Shop", date: "12 Oct 2021", client: "Elzero Company", price: "$1500", team: ["team-01.png", "team-02.png", "team-03.png"], status: "In Progress"},{name: "Bouba App", date: "05 Sep 2021", client: "Bouba", price: "$800", team: ["team-01.png", "team-02.png"], status: "Completed"},{name: "Mahmoud Website", date: "22 May 2021", client: "Mahmoud", price: "$600", team: ["team-01.png", "team-02.png"], status: "Completed"},{name: "Sayed Website", date: "24 May 2021", client: "Sayed", price: "$300", team: ["team-01.png", "team-02.png"], status: "Rejected"},{name: "Arena Application", date: "01 Mar 2021", client: "Arena Company", price: "$2600", team: ["team-01.png", "team-02.png", "team-03.png", "team-04.png"], status: "Completed"}]

//- Settings Page
- socialAccounts = [{icon: "fa-brands fa-twitter", placeHolder: "Twitter Username"}, {icon: "fa-brands fa-facebook-f", placeHolder: "Facebook Username"}, {icon: "fa-brands fa-linkedin", placeHolder: "LinkedIn Username"}, {icon: "fa-brands fa-youtube",placeHolder: "Youtube Username"}]

- widgetsControls = [{inputId: "one", label: "Quick Draft"}, {inputId: "two", label: "Yearly Targets"}, {inputId: "three", label: "Tickets Statistics"}, {inputId: "four", label: "Latest News"}, {inputId: "five", label: "Latest Tasks"}, {inputId: "six", label: "Top Search Items"}]

- backupData = ["Daily", "Weekly", "Monthly"]

- serversData = [{serverId: "server-one", serverName: "Megaman"}, {serverId: "server-two", serverName: "Zero"}, {serverId: "server-three", serverName: "Sigma"}]

//- Profile Page

- profileInfo = [{infoType: "General Information", full_Name: "Seif Ahmed", gender: "Male", country: "Egypt"}, {infoType: "Personal Information", email: "o@nn.sa", phone: "019123456789", date_Of_Birth: "25/10/1982"}, {infoType: "Job Information", title: "Full Stack Developer", programming_Language: "Python", years_Of_Experience: "15+"}, {infoType: "Payment Information", payment_Method: "Paypal", email: "email@website.com", subscription: "Monthly"}]

- skills = [["HTML", "Pugjs", "HAML"], ["CSS", "SASS", "Stylus"], ["JavaScript", "TypeScript"], ["Vuejs", "Reactjs"], ["Jest", "Jasmine"], ["PHP", "Laravel"], ["Python", "Django"]];

- activities = [{ img: "activity-01.png", category: "Store", description: "Bought The Mastering Python Course", time: "18:10", date: "Yesterday" }, { img: "activity-02.png", category: "Academy", description: "Got The PHP Certificate", time: "16:05", date: "Yesterday" }, { img: "activity-03.png", category: "Badges", description: "Unlocked The 10 Skills Badge", time: "18:05", date: "Yesterday" }, { img: "activity-01.png", category: "Store", description: "Bought The Typescript Course", time: "12:05", date: "Yesterday" }];

//- Project Page

- projectsBoxs = [{title: "Elzero Dashboard", date: "15/10/2021", description: "Elzero Dashboard Project Design And Programming And Hosting", teamsMembers: ["team-01.png", "team-02.png", "team-03.png", "team-04.png", "team-05.png"], tasks: ["Programming", "Hosting", "Marketing"], progressLevel: "",cost: "$2500"}, {title: "Elzero Dashboard", date: "15/10/2021", description: "Elzero Dashboard Project Design And Programming And Hosting", teamsMembers: ["team-01.png", "team-02.png", "team-03.png", "team-04.png", "team-05.png"], tasks: ["Programming", "Hosting", "Marketing"], progressLevel: "mid",cost: "$2500"}, {title: "Elzero Dashboard", date: "15/10/2021", description: "Elzero Dashboard Project Design And Programming And Hosting", teamsMembers: ["team-01.png", "team-02.png", "team-03.png", "team-04.png", "team-05.png"], tasks: ["Programming", "Hosting", "Marketing"], progressLevel: "success",cost: "$2500"}, {title: "Elzero Dashboard", date: "15/10/2021", description: "Elzero Dashboard Project Design And Programming And Hosting", teamsMembers: ["team-01.png", "team-02.png", "team-03.png", "team-04.png", "team-05.png"], tasks: ["Programming", "Hosting", "Marketing"], progressLevel: "mid",cost: "$2500"}, {title: "Elzero Dashboard", date: "15/10/2021", description: "Elzero Dashboard Project Design And Programming And Hosting", teamsMembers: ["team-01.png", "team-02.png", "team-03.png", "team-04.png", "team-05.png"], tasks: ["Programming", "Hosting", "Marketing"], progressLevel: "success",cost: "$2500"}, {title: "Elzero Dashboard", date: "15/10/2021", description: "Elzero Dashboard Project Design And Programming And Hosting", teamsMembers: ["team-01.png", "team-02.png", "team-03.png", "team-04.png", "team-05.png"], tasks: ["Programming", "Hosting", "Marketing"], progressLevel: "",cost: "$2500"}]

//- Courses Page

- coursesBoxs = [{teamImg: "team-01.png", courseImg: "course-01.jpg", courseTitle: "Mastering Web Design", courseDesc: "Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture", registers: "950", price: "$165"}, {teamImg: "team-02.png", courseImg: "course-02.jpg", courseTitle: "Mastering Web Design", courseDesc: "Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture", registers: "950", price: "$165"}, {teamImg: "team-03.png", courseImg: "course-03.jpg", courseTitle: "Mastering Web Design", courseDesc: "Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture", registers: "950", price: "$165"}, {teamImg: "team-04.png", courseImg: "course-04.jpg", courseTitle: "Mastering Web Design", courseDesc: "Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture", registers: "950", price: "$165"}, {teamImg: "team-05.png", courseImg: "course-05.jpg", courseTitle: "Mastering Web Design", courseDesc: "Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture", registers: "950", price: "$165"}, {teamImg: "team-01.png", courseImg: "course-01.jpg", courseTitle: "Mastering Web Design", courseDesc: "Master The Art Of Web Designing And Mocking, Prototyping And Creating Web Design Architecture", registers: "950", price: "$165"}]

//- Friends Page

- friendsBoxs = [{friendImg: "friend-01.jpg", friendName: "Ahmed Nasser", job: "JavaScript Developer", stats: {icons: ["fa-regular fa-face-smile fa-fw", "fa-solid fa-code-commit fa-fw", "fa-regular fa-newspaper fa-fw"], data: ["99 Friend", "15 Projects", "25 Articles"]}, vip: "true", joinedDate: "02/10/2021"}, {friendImg: "friend-02.jpg", friendName: "Mohamed Nasser", job: "JavaScript Developer", stats: {icons: ["fa-regular fa-face-smile fa-fw", "fa-solid fa-code-commit fa-fw", "fa-regular fa-newspaper fa-fw"], data: ["99 Friend", "15 Projects", "25 Articles"]}, joinedDate: "02/10/2021"}, {friendImg: "friend-03.jpg", friendName: "Ahmed Nasser", job: "JavaScript Developer", stats: {icons: ["fa-regular fa-face-smile fa-fw", "fa-solid fa-code-commit fa-fw", "fa-regular fa-newspaper fa-fw"], data: ["99 Friend", "15 Projects", "25 Articles"]}, vip: "true", joinedDate: "02/10/2021"}, {friendImg: "friend-04.jpg", friendName: "Ahmed Nasser", job: "JavaScript Developer", stats: {icons: ["fa-regular fa-face-smile fa-fw", "fa-solid fa-code-commit fa-fw", "fa-regular fa-newspaper fa-fw"], data: ["99 Friend", "15 Projects", "25 Articles"]}, vip: "true", joinedDate: "02/10/2021"}, {friendImg: "friend-05.jpg", friendName: "Ahmed Nasser", job: "JavaScript Developer", stats: {icons: ["fa-regular fa-face-smile fa-fw", "fa-solid fa-code-commit fa-fw", "fa-regular fa-newspaper fa-fw"], data: ["99 Friend", "15 Projects", "25 Articles"]}, joinedDate: "02/10/2021"}]

//- Files Page

-filesBoxs = [{fileType: "pdf.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}, {fileType: "png.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}, {fileType: "pdf.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}, {fileType: "avi.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}, {fileType: "dll.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}, {fileType: "eps.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}, {fileType: "png.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}, {fileType: "pdf.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}, {fileType: "png.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}, {fileType: "pdf.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}, {fileType: "avi.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}, {fileType: "dll.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}, {fileType: "eps.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}, {fileType: "png.svg", owner: "Elzero", date: "20/06/2020", size: "5.5MB"}]

- filesStats = [{statsColor: "blue", icon: "fa-regular fa-file-pdf fa-lg", iconStyle: "blue-c", filesName: "PDF Files", filesNumber: "130", filesSize: "6.5GB"}, {statsColor: "green", icon: "fa-regular fa-images fa-lg", iconStyle: "green-color", filesName: "Images", filesNumber: "115", filesSize: "3.5GB"}, {statsColor: "red", icon: "fa-regular fa-file-word fa-lg", iconStyle: "red-color", filesName: "Word Files", filesNumber: "110", filesSize: "3.2GB"}, {statsColor: "orange", icon: "fa-solid fa-file-csv fa-lg", iconStyle: "orange-c", filesName: "CSV Files", filesNumber: "99", filesSize: "2.9GB"}]

//- Pricing Plans Page

- pricingPlans = [{name: 'Free', price: '0.00', features: ['Access All Text Lessons','Access All Videos Lessons','Appear On Leaderboard','Browse Content Without Ads','Access All Assignments','Get Daily Prizes','Earn Certificate','1 GB Space For Hosting Files','Access Badge System'], btnClass: 'green-bk',btnText: 'Join',currentPlan: false}, {name: 'Basic', price: '7.99', features: ['Access All Text Lessons','Access All Videos Lessons','Appear On Leaderboard','Browse Content Without Ads','Access All Assignments','Get Daily Prizes','Earn Certificate','1 GB Space For Hosting Files','Access Badge System'], btnClass: 'blue-bk', btnText: 'Join', currentPlan: false}, {name: 'Premium', price: '19.99', features: ['Access All Text Lessons','Access All Videos Lessons','Appear On Leaderboard','Browse Content Without Ads','Access All Assignments','Get Daily Prizes','Earn Certificate','1 GB Space For Hosting Files','Access Badge System'], btnClass: 'blue-bk', btnText: 'Join', currentPlan: true}]


