.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 2;
    background-color: #f5f5f5;
}

.nav-bar img {
    width: 80px;
}

.nav-bar .search-bar {
    border-radius: 10px;
    background-color: #fff;
    padding: 8px;
}

.nav-bar .search-bar svg {
    color: blueviolet;
}

.nav-bar .search-bar input {
    border: none;
    outline: none;
    background-color: #fff;
}

.nav-bar nav ul {
    display: flex;
    align-items: center;
}

.nav-bar nav ul li {
    font-size: 20px;
}

.nav-bar nav ul li a {
    color: #000;
    transition-duration: 0.2s;
}

.nav-bar nav ul li a:hover,
.sidebar ul li:not(:first-child) a:hover {
    color: blueviolet;
    font-weight: bold;
}

.nav-bar nav ul li:nth-child(2) a {
    margin: 0 20px;
}

#navbar .example > h2,
.cards .example > h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: blueviolet;
    font-weight: normal;
}

#navbar .example h2:last-of-type {
    margin-top: 20px;
}

.nav-bar-one,
.nav-bar-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    background-color: #f5f5f5;
}

.nav-bar-one .logo p,
.nav-bar-two .logo p {
    font-size: 22px;
    font-weight: bold;
    color: blueviolet;
}

.nav-bar-one .search-bar {
    border-radius: 10px;
    background-color: #fff;
    padding: 8px;
}

.nav-bar-one .search-bar svg {
    color: blueviolet;
}

.nav-bar-one .search-bar input {
    border: none;
    outline: none;
}

.nav-bar-one nav ul,
.nav-bar-two nav ul {
    display: flex;
    align-items: center;
}

.nav-bar-one nav ul li a,
.nav-bar-two nav ul li a {
    color: #000;
    transition-duration: 0.2s;
}

.nav-bar-two nav ul li a {
    margin: 0 10px;
}

.nav-bar-one nav ul li a:hover,
.nav-bar-two nav ul li a:hover {
    color: blueviolet;
    font-weight: bold;
}

.nav-bar-one nav ul li:nth-child(2) a {
    margin: 0 20px;
}

.sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    left: 0;
    padding: 8% 5px 0 10px;
    overflow-y: scroll;
}

.sidebar ul li:first-child {
    color: blueviolet;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar ul li:not(:first-child) {
    margin-bottom: 6px;
}

.sidebar ul li:not(:first-child) a {
    color: #000;
    transition-duration: 0.2s;
}

.sidebar ul:nth-child(2) {
    margin: 20px 0;
}

.sidebar ul:last-child li:last-child {
    margin-bottom: 50px;
}

main .container {
    padding-left: 20px;
}

h1 {
    color: blueviolet;
}

section:first-of-type {
    padding-top: 120px;
}

section {
    padding: 25px 0;
}

section .section-heading {
    margin-bottom: 20px;
}

section .section-heading h2 {
    font-size: 22px;
    color: blueviolet;
}

section .section-body p span {
    font-weight: bold;
    color: blueviolet;
}

#breakpoints .section-body table th {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: 15px;
    background-color: #eee;
    font-weight: bold;
}

#breakpoints .section-body table td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition-duration: 0.3s;
    padding: 15px;
}

.options {
    margin-bottom: 20px;
    text-align: center;
}

#screenType {
    padding: 5px 10px;
    outline: none;
}

#grid-container {
    margin: auto;
}

.example {
    margin-top: 25px;
}



.utility .example {
    display: flex;
    gap: 10px 100px;
    justify-content: center;
    flex-wrap: wrap;
}

#badges .example {
    gap: 10px 30px;
}

.code-slider {
    display: flex;
    overflow-x: hidden;
    position: relative;
}

.code-container,
.code-slider-container {
    flex: 0 0 100%;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    margin-top: 20px;
}

.code {
    margin: 0;
    white-space: pre-wrap;
}

.code-heading {
    color: blueviolet;
    font-size: 30px;
    margin: 20px 0 0;
}

.code-snippet {
    display: block;
}

.copy-btn {
    padding: 10px;
    text-transform: uppercase;
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
}

.slider-btns {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-btns .prev-btn,
.slider-btns .next-btn {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
}

#margin-padding .catalog {
    margin-top: 20px;
}

#margin-padding .catalog h2,
#margin-padding .catalog h3,
#text .catalog h3,
#colors .example h3,
#border .example h3,
#display .example h3 {
    color: blueviolet;
    font-weight: normal;
    font-size: 20px;
    margin: 20px 0;
}

#margin-padding ul,
#positions ul {
    list-style-type: circle;
    padding-left: 40px;
}

#margin-padding ul li span,
#positions ul li span {
    font-weight: bold;
    color: blueviolet;
}

#opacity span {
    background-color: #000;
    padding: 10px;
    color: #fff;
}

.font-size h3 {
    margin-bottom: 20px 0 10px;
    font-size: 20px;
}

.line-height p {
    width: 23%;
    background-color: #f5f5f5;
    padding: 10px;
}

#border .border-directions {
    background-color: #f5f5f5;
    padding: 10px;
    color: #000;
}

